@import 'tailwindcss';

@theme {
  --color-muse: #e4007f;
  --color-aqours: #009fe8;
  --color-niji: #fab920;
  --color-treelar: #3399ff;

  --font-sans: Inter var, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.text-gradient-treelar {
    @apply bg-linear-to-r from-muse via-treelar to-treelar bg-clip-text text-transparent
}